OPENBLAS_NUM_THREADS = 1
no_proxy = localhost, 127.0.0.1, ::1

# In Colab, mount Google Drive before launching the app and storage will default here.
RVC_USE_DRIVE = auto
RVC_DRIVE_ROOT = /content/drive/MyDrive/RVC-Colab
