joblib>=1.1.0
numpy>=1.26,<2.0
numba>=0.59,<0.62
scipy
librosa>=0.10.2,<0.11
ve-fairseq==0.12.3
faiss-cpu>=1.8.0.post1
gradio>=3.50,<4
Cython
pydub>=0.25.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0
tensorboardX
Jinja2>=3.1.2
json5
Markdown
matplotlib>=3.7.0
praat-parselmouth>=0.4.2
Pillow>=9.1.1
resampy>=0.4.2
scikit-learn
tensorboard
tqdm>=4.63.1
tornado>=6.1
Werkzeug>=2.2.3
PyYAML>=6.0
absl-py>=1.2.0
audioread
colorama>=0.4.5
pyworld>=0.3.5
httpx
torchfcpe
ffmpy==0.3.1
python-dotenv>=1.0.0
av
